
#login{
    position:absolute;
    left:44%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 0;

}

#signup{
    position:absolute;
    left:56%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

#or{
    position:absolute;
    left:50%;
    top: 49.5%;
    transform: translate(-50%,-50%);
    z-index: 0;
    color:white;
    font-size: 2.5vw;
    font-weight: bold;

}

#message
{
    position:absolute;
    z-index: 6;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

#signupModal
{
    position:absolute;
    z-index: 5;
}

#loginModal
{
    position:absolute;
    z-index: 5;
}